{% extends "mods/base.html" %}
{% load hitcount_tags %}
{% load my_tags %}

{% block content %}
        <article class="media content-section">
          <img class="rounded-circle  article-img" src="{{ object.author.profile.image.url }}"></img>
            <div class="media-body">
              <h2 class="article-title">{{ object.title }}</h2>
              <p class="article-content">by <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a></p>
              {% if object.author == user %}
              <a class="btn btn-info btn.sm mt-1 mb-1" href="{%url 'post-update' object.id %}">Update</a>
              <a class="btn btn-danger btn.sm mt-1 mb-1" href="{%url 'post-delete' object.id %}">Delete</a>
              {% endif %}
            {% if object.author == user or object.verified == True %}
               {% if object.verified == False %}
               <div class="alert alert-primary" role="alert">
                A moderator will review and approve your post shortly if everything is correct.
               </div>
              {% endif %}
              <p class="article-content">{{ object.content|safe }}</p>
              {% else %}
              <div class="alert alert-primary" role="alert">
               A moderator will review and approve this post shortly if everything is correct.
              </div>
                {% endif %}
            <div class="article-metadata">
              <button type="button" class="btn badge-pill btn-outline-danger btn-lg" data-toggle="button" aria-pressed="false">❤</button>
              {% if object.download|contains:"http" %}
                <a href="{{ object.download }}" target="_blank" class="btn badge-pill btn-success btn mx-1 btn-lg" role="button" aria-pressed="true">Download {{object.get_version_display}}</a>
               {% else %}
                 <a href="//{{ object.download }}" target="_blank" class="btn badge-pill btn-success btn mx-1 btn-lg" role="button" aria-pressed="true">Download {{object.get_version_display}}</a>
               {% endif %}
              <p class="article-content"><h4><span class="badge badge-pill badge-dark">Views: {% get_hit_count for post %}</span><span class="badge badge-pill badge-danger mx-1">Likes: {% get_hit_count for post %}</span></h4></p>
              <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                <div>
                </div>
            </div>
            </div>
        </article>
{% endblock content %}
